[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scholarly = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"
pylint = "*"

[requires]
python_version = "3.9"

[scripts]
start = "python main.py"
format = "autopep8 -ivr ."
lint = "flake8 --show-source ."
